/* --------------  TABLESS ---------------------*/
@media screen and (max-width: 850px){
    .background {
        margin-left: 0;
    }
    .menu {
        background: rgb(37, 37, 37);
        color: aliceblue;
        width: 50%;
        height: 100vh;
        display: grid;
        grid-template-rows: 25% 60% 15%;   
        position: fixed;
        left: 0;
        top: 0;
        transition: .5s;
        transform: translateX(0);
    }
    .menu .header {
        display: flex;
        justify-content: center;
    }
    .menu .menu-nav ul a{
        display: flex;
        justify-content: center;
    }
    .menu .header img {
        margin: 3px 0;
    }
    .menu .header h1{
        font-size: 25px;
    }
    .menu .header h3{
        font-size: 17px;
    }
    .menu2 {
        transition: .1s;
        transform: translateX(-200%);
    }
    /* ---- ICON REPONSIVE ------------- */
    .icon-menu img  {
        display: block;
        position: fixed;
        top: 15px;
        right: 30px;
        width: 50px;
        background: rgba(107, 107, 107, 0.212);
    }
    .text-info h1 {
        font-size: 27px;
        font-family: 'Roboto', sans-serif;
        letter-spacing: 1px;
    }
    .text-info h3 {
        font-family: 'Poppins', sans-serif;
        font-size: 16px;
        margin: 55px 0;
    }
}
/* ------ RESPONSIVE TO MOVILES DEVICES --------- */
@media screen and (max-width: 480px) {
    /* --- MENU RESPONSIVE ---*/
    .menu .header img {
        margin: 10px 0;
        margin-right: 15px;
    }
    .icon-menu img  {
        top: 10px;
        right: 20px;
    }
    .menu {
        background: rgb(37, 37, 37);
        width: 65%;
        height: 100vh;
        display: grid;
        grid-template-rows: 25% 60% 15%;   
    }    
    .menu .header h1{
        font-size: 17px;
    }
    .menu .header h3{
        font-size: 14px;
        
    }
    /* -------- ABOUT SECTION ------------*/
    .card-text-img {
        display: flex;
        justify-content: center;
    }
    .text-card {
        text-align: center;
        margin-left: 0;
    }
    .card-text-img img {
        margin-top: 10px;
        margin-bottom: 15px;
        border-radius: 7px;
        width: 180px;
    }
    .text-card {
        display: flex;
        justify-content: center;
    }
}
/* --- RESPONSIVE TO ABOUT SECTION --- */
@media screen and (max-width: 1235px) {
    .text-card {
        width: 95%;
    }
    .card-text-img {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
    .text-card {
        text-align: center;
        margin-left: 0;
    }
    .card-text-img img {
        margin-top: 10px;
        margin-bottom: 15px;
        border-radius: 7px;
        width: 180px;
        height: 180px;
    }
    .text-card {
        display: flex;
        justify-content: center;
    }
}